* {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Poppins', sans-serif;
}

.header {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 2rem;
    padding-bottom: 0;
    align-items: center;

}

.header img {
    width: 100%;
    max-width: 100px;
    justify-self: start;

}

.header__try {
    background: none;
    border: 1px solid hsl(322, 100%, 66%);
    border-radius: 50px;
    color: hsl(322, 100%, 66%);
    padding: 5px 10px;
    text-transform: capitalize;
    width: 100%;
    max-width: 100px;
    justify-self: end;
}


.container {
    padding: 2rem;
    display: grid;

}




.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}