* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Poppins', sans-serif;
}

.container {
    padding: 2rem;
}

/*================Header Section=================*/

.header {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 2rem;
    padding-bottom: 0;
    align-items: center;

}

.header img {
    width: 100%;
    max-width: 100px;
    justify-self: start;

}

.header__try {
    background: none;
    border: 1px solid hsl(322, 100%, 66%);
    border-radius: 50px;
    color: hsl(322, 100%, 66%);
    padding: 5px 10px;
    text-transform: capitalize;
    width: 100%;
    max-width: 100px;
    justify-self: end;
}


/*================Community Section=================*/

.community {
    display: grid;
    grid-template-rows: 33% 34% 33%;
    margin: 50px 0;
    justify-items: center;
    grid-row-gap: 20px;
}

.community__header {
    font-size: 1.65rem;
    font-weight: 700;
    text-align: center;
}

.community__paragraph {
    text-align: center;
    font-size: 1rem;
}

.community__btn {
    background: hsl(322, 100%, 66%);
    border: 0;
    border-radius: 50px;
    color: #fff;
    font-weight: 500;
    width: 90%;
    height: 50%;
    align-self: end;
}

/*================Header Section=================*/


.section-2 {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-row-end: 50px;
}

.section-2__img {
    padding: 50px 0;
}

.section-2__img img {
    width: 100%;
}

.section-2__stats {
    padding: 50px 0;
    display: grid;
    grid-template-columns: 50% 50%;
}




/*================Attribution Section=================*/


.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}