* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Poppins', sans-serif;
}

.container {
    padding: 2rem;
    padding-bottom: 0;
}

/*================Header Section=================*/

.header {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 2rem;
    padding-bottom: 0;
    align-items: center;

}

.header img {
    width: 100%;
    max-width: 100px;
    justify-self: start;

}

.header__try {
    background: none;
    border: 1px solid hsl(322, 100%, 66%);
    border-radius: 50px;
    box-shadow: 0 3px 10px hsl(192, 100%, 9%, .2);
    color: hsl(322, 100%, 66%);
    padding: 5px 10px;
    text-transform: capitalize;
    width: 100%;
    max-width: 100px;
    justify-self: end;
}


/*================Community Section=================*/

.community {
    display: grid;
    margin: 50px 0;
    justify-items: center;
    grid-row-gap: 20px;
}

.community__header {
    font-size: 1.65rem;
    font-weight: 700;
    text-align: center;
}

.community__paragraph {
    text-align: center;
    font-size: 1rem;
}

.community__btn {
    align-self: end;
    background: hsl(322, 100%, 66%);
    border: 0;
    border-radius: 50px;
    box-shadow: 0 3px 10px hsl(192, 100%, 9%, .3);
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 10px 20px;
    width: 100%;
}

/*================Header Section=================*/


.section-2 {
    display: grid;
    justify-items: center;
    grid-column-gap: 1rem;
}

.section-2__img img{
    width: 100%;
    object-fit: cover;
}

.section-2__stats {
    width: 100%;
    object-fit: cover;
    align-self: center;
    text-align: center;
    position: relative;
    padding: 20px !important;
}

.section-2__stats img {
    max-width: 10%;
    position: absolute;
    top:0;
    left: 25%;
}

.stats__header {
    font-size: 3.5rem;
}

.stats__label {
    font-size: 14px;
    color: hsl(192, 100%, 9%);
}

/*================Grow Together Section=================*/

.illustrated_section {
    display: grid;
    background: #F6FBFF;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 2rem 0;
    margin-left: -2rem; /*Override container padding*/
    margin-right: -2rem;  /*Override container padding*/
    position: relative;
}


.illustrated_section img {
    max-width: 80%;
    height: auto;
    display: block;
    padding: 20px 0;
    justify-self: center;
    background:url('../images/bg-section-top-desktop-1.svg');
}

.illustrated_section h1 {
    text-align: center;
    align-self: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

.illustrated_section p {
    text-align: center;
    padding-bottom: 1rem
}

.top-wave {
    background-image: url('../images/bg-section-top-mobile-1.svg');
    background-repeat: no-repeat;
    position: absolute;
    bottom: 100%;
    width: 1440px;
    height: 100px;
}

.bottom-wave {
    background-image: url('../images/bg-section-bottom-mobile-1.svg');
    background-repeat: no-repeat;
    position: absolute;
    top: 100%;
    width: 1440px;
    height: 100px;
}


.no-bg {
    background: none;
}

.wave-padding {
    padding-top: 30px;
    padding-bottom: 100px;
}

.second-top {
    background-image: url('../images/bg-section-top-mobile-2.svg');
}

.second-bottom {
    background-image: url('../images/bg-section-bottom-mobile-2.svg');
}


/*=============Build Community===================*/

.build-community {
    display: grid;
}

.build-community > h1 {
    text-align: center;
    font-size: 1.5rem;
    padding-top: 50px;
    padding-bottom: 30px;
}



/*=============Footer Section==================*/

footer {
    background: #00252E;
    color: #fff;
    padding-left: 2rem;
    padding-right: 2rem; 
    margin-left: -2rem;
    margin-right: -2rem;
}

.newsletter {
    padding: 30px 0;
    margin-top: 30px;
    position: relative;
}

.newsletter > p {
    padding: 20px 0;
}

.newsletter > input {
    display: block;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.newsletter > button {
    border: 0;
    border-radius: 5px;
    background: hsl(322, 100%, 66%);
    color: #fff;
    font-weight: 600;
    float: right;
    padding: 10px 20px;
}

.lorem-ipsum {
    padding-top: 50px;
}

#footer-icon {
    color: #fff;
}

.lorem-ipsum > p {
    padding-bottom: 30px;
}

.contact {
    display: block;
    padding-bottom: 20px;
}


.footer-top-border {
    background-image: url('../images/bg-footer-top-mobile.svg');
    background-repeat: repeat-x;
    position: absolute;
    bottom: 100%;
    width: 375px;
    height: 53px;
    margin-right: -2rem;
    margin-left: -2rem;
}


/*================Attribution Section=================*/


.attribution { 
    font-size: 11px; 
    text-align: center;
    padding: 10px 0;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
    text-decoration: none;

}